@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Test</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Click here for a <a href= "https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Team building exercise </a></p>
    <img src="../Images/smudge-the-cat.png" alt="smudge the cat">
    @ViewBag.Transactions[0]
</div>
