@using System.Data
@model DataTable
<div class="text-center">
    <h1 class="display-4">Summary</h1>

    <partial name="TransactionForm" model="ViewBag.test" />
    <partial name="ShowTransactions" model="Model" />
  
</div>
</div>
