@using System.Data
@*displays everything in table passed by HomeController*@


<div>
</div>
@model DataTable

<div class="container">
    
    

    @*    https://getbootstrap.com/docs/4.0/content/tables/*@
    <table class="table table-sm table-striped">
        <thead class="thead-light">
            <tr><th scope="col"></th>
                <th scope="col">Large withdraw</th>
                <th scope="col">Out of state</th>
                <th scope="col">Low balance</th>

            </tr>
        </thead>
        <tbody>

            
            <tr>
                <th scope="row">Notifications this month:</th>
                <td name="largeWithdraw-monthly"> @Model.Rows[0]["Monthly"]</td>
                <td name="outOfState-monthly"> @Model.Rows[1]["Monthly"]</td>
                <td name="lowBalance-monthly"> @Model.Rows[2]["Monthly"]</td>
            </tr>
           

               
            
        </tbody>
    </table>
    You have <span name="totalNotifications">@ViewBag.TotalNotifications</span> notifications.
     <a href="/Home/Notifications"
                                        class="link-danger">See all notifications</a>
</div>