@using System.Data
@*displays everything in table*@
@model DataTable 

<div class="container">
@*     
    @*    https://getbootstrap.com/docs/4.0/content/tables/*@
        <table class="table table-sm table-striped">
            <thead class="thead-light"> Total notifications: @ViewBag.Notifications.Rows.Count
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Account Number</th>
                 
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in ViewBag.Notifications.Rows)
        {
                <tr>
                   
                    <td> @row["description"]</td>
                    <td>@row["processingDate"]</td>
           
                </tr>
        }
        </tbody>
        </table>
       </div>
       