@using System.Data
@model DataTable
<div class="text-center">
     <h1 class="display-4">Account Summary</h1>
    <div class="container">
  <div class="row">
    <div class="col-sm">
        
    Balance: @ViewBag.Balance
    </div>
    @*<div class="col-sm">
 You have @ViewBag.TotalNotifications notifications.
 </div>*@
    <div class="col-sm">
      Logged in: @ViewBag.user
    </div>
  </div>
</div>
   

   
  
    
    <partial name="Dashboard" model="ViewBag.Dashboard"/>
    <partial name="TransactionForm" model="ViewBag.test" />
    <partial name="ShowTransactions" model="Model" />


  
</div>
