@using System.Data
@model DataTable
<div class="text-center">
     <h1 class="display-4">Account Summary</h1>
    <div class="container">
  <div class="row">
    <div name="balance" class="col-sm">
        
    Balance: @ViewBag.Balance
    </div>

    <div name="username" class="col-sm">
                Logged in: @ViewBag.user
    </div>
  </div>
</div>
   
    <partial name="_Dashboard" model="ViewBag.Dashboard"/>
    <partial name="_TransactionForm" model="ViewBag.test" />
    <partial name="_ShowTransactions" model="Model" />


  
</div>
