@using System.Data
@model DataTable
<div class="text-center">
    Logged in: @ViewBag.user
  

    <h1 class="display-4">Summary</h1>
  
    <a href="/Transaction Summary.xml" download>Export transactions</a>

    <partial name="TransactionForm" model="ViewBag.test" />
    <partial name="ShowTransactions" model="Model" />


  
</div>
