<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/cb4e66fa-3da5-4502-ad0a-85526f958c9d/resourcegroups/Commerce/providers/Microsoft.ContainerRegistry/registries/CommerceTransactionApp20220215123728</ContainerResourceId>
    <ContainerResourceName>CommerceTransactionApp20220215123728</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>commercetransactionapp20220215123728.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://commerce-transactionapp20220215123625.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/cb4e66fa-3da5-4502-ad0a-85526f958c9d/resourcegroups/Commerce/providers/Microsoft.Web/sites/Commerce-TransactionApp20220215123625</ResourceId>
    <ResourceGroup>Commerce</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://commerce-transactionapp20220215123625.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d35bca02-84e8-4289-91b5-fe559612bd23</ProjectGuid>
  </PropertyGroup>
</Project>